<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/dashboard.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicon_io/site.webmanifest">
    <title>BankEase Dashboard</title>
</head>
<body>

<div class="dashboard">
    <div class="sidebar" id="mySidebar">
        <a href="#" onclick="closeSidebar()">Close</a>
	<a href="{{ url_for('transaction') }}">Transaction</a>
	<a href="{{ url_for('loan') }}">Loans</a>
	<a href="{{ url_for('transfer') }}">Transfer</a>
	<a href="{{ url_for('pay') }}">Pay Bill</a>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </div>

    <div class="main-content" id="mainContent">
        <div class="header">
            <div class="menu-icon" onclick="openSidebar()">&#9776;</div>
            <div class="account-info">
                <span>{{ User.first_name }} {{ User.last_name }}</span>
            </div>
            <div class="profile-section" onclick="openProfilePage()">
                <a href="{{ url_for('profile') }}"><img src="../static/images/BankEase_Icon.gif" alt="Avatar" class="profile-picture"></a>
            </div>
        </div>

        <div class="account-info">
            <h2>Account Information</h2>
            <!-- Display user account details here -->
            <p>Account Number: {{ Account.account_number }}</p>
            <p>Account Balance: RWF {{ Account.balance }}</p>
            <p>Account Type: {{ Account.account_type }}</p>
        </div>

        <h2>Recent Transactions</h2>
        <!-- Display recent transactions here -->
    </div>
</div>
<script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
</body>
</html>
