<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/home.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicon_io/site.webmanifest">
    <title>BankEase Dashboard</title>
</head>
<body>

<div class="dashboard">
    <div class="sidebar" id="mySidebar">
        <a href="#" onclick="closeSidebar()">Close</a>
        <a href="#">Transaction</a>
        <a href="#">Loans</a>
        <a href="#">Transfer</a>
        <a href="#">Pay Bill</a>
        <a href="#" onclick="openProfileModal()">Profile</a>
    </div>

    <div class="main-content" id="mainContent">
        <div class="header">
            <div class="menu-icon" onclick="openSidebar()">&#9776;</div>
            <div class="account-info">
                <span>Account Number: XXXXXXXX</span>
                <div class="account-dropdown-content" id="accountDropdown">
                    <a href="#" onclick="switchAccount('Account1')">Account1</a>
                    <a href="#" onclick="switchAccount('Account2')">Account2</a>
                </div>
            </div>
            <div class="profile-section" onclick="openProfilePage()">
                <img src="profile-picture.jpg" alt="Profile Picture" class="profile-picture">
            </div>
        </div>

        <div class="account-info">
            <h2>Account Information</h2>
            <!-- Display user account details here -->
            <p>Account Number: XXXXXXXX</p>
            <p>Account Balance: $XXXX.XX</p>
            <p>Account Type: Savings</p>
        </div>

        <h2>Recent Transactions</h2>
        <!-- Display recent transactions here -->
    </div>
</div>

<!-- Profile modal -->
<div class="profile-modal" id="profileModal">
    <h2>Edit Profile</h2>
    <label for="editUsername">Username:</label>
    <input type="text" id="editUsername" value="Current Username" disabled>

    <label for="editFirstName">First Name:</label>
    <input type="text" id="editFirstName" value="Current First Name">

    <label for="editLastName">Last Name:</label>
    <input type="text" id="editLastName" value="Current Last Name">

    <label for="editEmail">Email:</label>
    <input type="email" id="editEmail" value="Current Email">

    <label for="editProfilePic">Profile Picture:</label>
    <input type="file" id="editProfilePic">

    <button onclick="saveProfileChanges()">Save Changes</button>
    <button class="discard" onclick="discardChanges()">Discard Changes</button>
</div>
<script src="../static/scripts/home.js"></script>
</body>
</html>
