<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicon_io/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="../static/styles/index.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <title>BankEase - Modern Online Banking</title>
</head>
<body>
    <header>
        <div class="logo-container">
		<img src="../static/images/bankease_logo.png" alt="BankEase Logo">
        </div>
        <nav>
            <ul>
		    <li><a href="{{ url_for('signin') }}">Login</a></li>
		    <li><a href="{{ url_for('signup') }}">Signup</a></li>
            </ul>
        </nav>
    </header>

    <section id="hero">
        <div class="hero-content">
            <h2>Welcome to BankEase</h2>
            <div class="blinking-text">
                <p>Banking Simplified, Anytime, Anywhere</p>
            </div>
        </div>      
    </section>
    <section id="pics">
	    <h2>Our Future, Your Future</h2>
        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="../static/images/img_mountains_wide.jpg" style="width:100%">
                <div class="text">In Mountains</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="../static/images/img_snow_wide.jpg" style="width:100%">
                <div class="text">In Snow</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="../static/images/img_nature_wide.jpg" style="width:100%">
                <div class="text">In Every Nature</div>
            </div>

        </div>
        <div style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
        </div>
	    <p id="p1">Welcome to BankEase, your gateway to a <b style="color: blueviolet;">Modern Banking Online Solution</b>, where banking is not just a transaction but an experience. With Banking Simplified, Anytime, Anywhere, BankEase brings convenience and innovation to your fingertips. the freedom of seamless transactions with BankEase. Transfer money effortlessly, withdraw cash at your convenience, and pay bills online with the click of a button. Our user-friendly interface ensures a smooth and secure banking experience, allowing you to manage your finances with ease.</p>
    </section>
    <section class="description" role="contentinfo">
        <div class="container">
            <div class="column">
		        <h3>World of Cashless</h3>
		        <p id="p2">Say goodbye to traditional hassles and embrace the cashless era with BankEase. Whether you're on the go or relaxing at home, our platform empowers you to take control of your finances whenever and wherever you are.</p>
            </div>
            <div class="column">
		        <h3>Register To Day</h3>
                <p id="p3"><b style="color: blueviolet;">Join bankease today</b> and step into a world of modern banking, where simplicity meets sophistication. Elevate your banking experience with us - <b style="color: #000; font-family: 'Courier New', Courier, monospace;">Banking Simplified, Anytime, Anywhere.</b></p>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <!-- Other sections for content -->

    <footer>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#license">License</a></li>
                <li><a href="https://www.linkedin.com/in/jeandamn">LinkedIn</a></li>
                <li><a href="https://www.instagram.com/cr7vanjohnson">Instagram</a></li>
                <li><a href="https://www.twitter.com/cr7vanjohnson">Twitter</a></li>
                <li><a href="https://www.facebook.com/cr7vanjohnson">Facebook</a></li>
                <li><a href="https://www.youtube.com/c/damshowtv">YouTube</a></li>
            </ul>
        </nav>
    </footer>

    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</body>
</html>
