<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/signin.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicon_io/site.webmanifest">
    <title>BankEase Login Page</title>
</head>
<body>
	{% with messages = get_flashed_messages(with_categories=true) %}
        	{% if messages %}
	            {% for category, message in messages %}
        	        <div class="alert alert-{{ category }}">
                	    {{ message }}
	                </div>
        	    {% endfor %}
	        {% endif %}
	{% endwith %}
    <div class="login-container">
        <div class="left-column">
            <div class="welcome-content">
                <img src="../static/images/bankease_logo.png" alt="BankEase Logo">
                <h2>Welcome to BankEase</h2>
            </div>
        </div>
        <div class="right-column">
            <div class="center-content">
                <h2>BankEase Login</h2>
                <p>Enter your login credentials to access your account</p>
                <form action="/login" method="post">
                    <label for="username">Username</label>
                    <br>
                    <input type="text" id="username" name="username" required>
                    <br>
                    <br>
                    <label for="password">Password</label>
                    <br>
                    <input type="password" id="password" name="password" required>
                    <br>
                    <br>
                    <div class="checkbox">
                        <input type="checkbox" id="agree" name="agree">
                        <label for="agree">By logging in, you agree to our <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a></label>
                    </div>
                    <br>
                    <button type="submit">Login</button>
                </form>
		<p>Don’t have an account? <a href="{{ url_for('signup') }}">Register</a></p>
            </div>
        </div>
    </div>
</body>
</html>
