<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/signin_admin.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicon_io/site.webmanifest">
    <!-- Add these links in the head section of your HTML -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>BankEase Login Page</title>
</head>
<body>
<!-- Flashed Message -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <!-- Bootstrap modal HTML structure -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-body text-center" style="color: {% if category == 'error' %}red{% else %}green{% endif %};">
                                {{ message }}
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; top: 5px; right: 15px;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <div class="login-container">
        <div class="left-column">
            <div class="welcome-content">
                <img src="../static/images/bankease_logo.png" alt="BankEase Logo">
                <h2>Welcome to BankEase</h2>
            </div>
        </div>
        <div class="right-column">
            <div class="center-content">
                <h2>Admin Login</h2>
                <p style="color: grey">Enter your login credentials to access your account</p>
		<form action="/login/admin" method="post">
                    <label for="username">Username</label>
                    <br>
                    <input class="box" type="text" id="username" name="username" required>
                    <br>
                    <br>
                    <label for="password">Password</label>
                    <br>
                    <input class="box" type="password" id="password" name="password" required>
                    <br>
                    <br>
                    <div class="checkbox">
                        <input type="checkbox" id="agree" name="agree" required>
                        <label for="agree">By logging in, you agree to our <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a></label>
                    </div>
                    <br>
                    <button class="signin-button" type="submit">Login</button>
                </form>
		<br>
		<p>Forgot your password? <a href="{{ url_for('forgot_password') }}">Reset it here</a></p>
		<p>Don’t have an account? <a href="{{ url_for('signup') }}">Register</a></p>
            </div>
        </div>
    </div>
    <!-- Add this script block within your HTML body -->
    <script>
	    $(document).ready(function() {
		    // Show Bootstrap modal with the flashed message
		    $('#myModal').modal('show');
	    });
    </script>

</body>
</html>
