<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add these links in the head section of your HTML -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>User List</title>
</head>
<body>
<!-- Flashed Message -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <!-- Bootstrap modal HTML structure -->
            <div class="modal fade" id="myModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-body text-center" style="color: {% if category == 'error' %}red{% else %}green{% endif %};">
                                {{ message }}
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; top: 5px; right: 15px;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <script>
            $(document).ready(function () {
                {% for category, message in messages %}
                    $('#myModal{{ loop.index }}').modal('show');
                {% endfor %}
            });
        </script>
    {% endif %}
{% endwith %}
    <h1>User List</h1>

    {% if users %}
        <table border="1">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
		    <th>First Name</th>
		    <th>Last Name</th>
		    <th>Account Number</th>
		    <th>Balance</th>
		    <th>Account Type</th>
		    <th>Date and Time Created</th>
		    <th>Phone Number</th>
                    <th>Email</th>
		    <th>Delete User</th>
                    <!-- Add more fields as needed -->
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.user_id }}</td>
                        <td>{{ user.username }}</td>
			<td>{{ user.first_name }}</td>
			<td>{{ user.last_name }}</td>
			<td>{{ user.accounts[0].account_number if user.accounts else 'N/A' }}</td>
			<td>{{ user.accounts[0].balance if user.accounts else 'N/A' }}</td>
			<td>{{ user.accounts[0].account_type if user.accounts else 'N/A' }}</td>
			<td>{{ user.accounts[0].created_at if user.accounts else 'N/A' }}</td>
			<td>{{ user.phone_number }}</td>
                        <td>{{ user.email }}</td>
			<td><a href="{{ url_for('delete_user', user_id=user.user_id) }}">Delete</a></td>
                        <!-- Add more fields as needed -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No users found.</p>
    {% endif %}
</body>
</html>
