* {box-sizing: border-box;}
body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 10px 2px;
  top: 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

header {
    top: 0;
    background-color: #034ea2;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none; /* Remove default styling */
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 15px; /* Space between list item */
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section#hero {
    background-color: whitesmoke;
    background-image: image-set("../images/bankease_background_logo.png");
    background-size: 100px;
    padding: 10px;
    text-align: center;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blinking-text {
    animation: blink 2s infinite;
}

section#pics {
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    margin-top: -30px;
}

.description {
    justify-content: center;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin-top: 0;
    max-width: 100%;
    align-content: center;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: yellow;
}

.column {
    width: 45%; /* Adjust the width as needed */
    float: left;
    margin: 2%;
    margin-top: 1px;
    padding-bottom: 40px;
}

.clear {
    clear: both;
}

section p#p2 {
    font-style: italic;
    color: darkgreen;
    font-weight: bolder;
    text-size-adjust: 14px;
}

footer {
	background-color: #034ea2;
	height: 50px;
	width: 100%;
	bottom: 0;
	border-top: 1px solid #CCCCCC;
	line-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer a {
    color: white;
    text-decoration: none;
}

.about-container {
    margin: 20px;
    display: flex;
    flex-direction: row; /* Make columns side by side */
    align-items: center; /* Center vertically */
}

.about-container img {
    max-width: 100px; /* Ensure the image doesn't overflow its container */
    margin-right: 20px; /* Add some space between image and text */
}

.about-container p {
    flex: 1; /* Allow the paragraph to grow and fill remaining space */
}

section#about h2 {
    text-align: center;
}
