body {
    font-family: Arial, sans-serif;
    background-color: #034ea2;
    background-image: image-set("../images/sky_background.png");
    background-size: 260vw;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    body {
        background-size: 130vw;
    }
}

header {
    background-color: #034ea2;
    top: 0;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo-container img {
    max-height: 50px;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
}

p#p3 {
    color: #fff;
}

h1 {
    color: #fff;
}

h2 {
    color: #fff;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #000;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}